!!!
%html
  %head
  %body
    #demo-1
      %p.plain I am paragraph
      =value
      %p#id.class{:style "oh yeah"}
      %p (s/join ", " [1 2 3])
      (silly-macro 2)
    
    (for [user users]
      (list
        %p (:name user)
        (when-let [h (:hobbies user)]
          (list
            %h1 Hobbies:
            (for [h h]
              %p =h
    
    (if true
      (list
        %p hello
        10
        (if true
          42
      should not see me
    
    \(parens)
    \=has equals